In [1]:
import os
# Find the latest version of spark 3.2  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.2.2'
spark_version = 'spark-3.2.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:2 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Hit:3 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:4 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:5 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:6 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Hit:8 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Hit:9 http://archive.ubuntu.com/ubuntu focal InRelease
Get:10 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:11 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,398 kB]
Get:12 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,136 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,544 kB]
Get:15 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,017 kB]
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [920 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,313 kB]
Get:18 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,021 kB]
Fetched 12.7 MB in 4s (3,438 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2023-03-18 16:09:29--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.67MB/s    in 0.5s

2023-03-18 16:09:30 (1.67 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
# url="https://<bucket name>.s3.amazonaws.com/user_data.csv" 
url = "https://meteorite-ml-project.s3.amazonaws.com/landcover.csv"
spark.sparkContext.addFile(url)
landcover_df = spark.read.csv(SparkFiles.get("landcover.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
landcover_df.show()

+------------+-----------------+--------------------+
|state_abbrev|         variable|               value|
+------------+-----------------+--------------------+
|          AL|           FOREST|   64.87214818449999|
|          AL|             GRSL|        19.904489577|
|          AL|             WETL| 0.17698839989999998|
|          AL|           SHRUBL|        1.2225725537|
|          AL|SPARSE_VEGETATION|        0.0347645507|
|          AL|            CROPL|       10.1772646745|
|          AL|            URBAN|        1.6597195122|
|          AL|             BARE|         0.189766099|
|          AL|            WATER|        1.7622864484|
|          CO|           FOREST|       32.9304390513|
|          CO|             GRSL|       31.7712187156|
|          CO|             WETL|0.036524399900000004|
|          CO|           SHRUBL|       17.2468731707|
|          CO|SPARSE_VEGETATION|0.035923292999999995|
|          CO|            CROPL|       15.5319438223|
|          CO|            URBAN|         0.846415757|
|          CO|             BARE|  1.3428441802000002|
|          CO|            WATER| 0.25781760989999997|
|          CT|           FOREST|       76.6350390711|
|          CT|             GRSL|        6.3894917463|
+------------+-----------------+--------------------+
only showing top 20 rows

In [5]:
# url="https://<bucket name>.s3.amazonaws.com/user_payment.csv"
url = 'https://meteorite-ml-project.s3.amazonaws.com/meteorite_main.csv'
spark.sparkContext.addFile(url)
meteoritemain_df = spark.read.csv(SparkFiles.get("meteorite_main.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
meteoritemain_df.show()

+-----+---------------+---------------+----------+-----+----+-----------------+------------------+--------------------+--------------------+---------+-------------+------------+
|   id|           name|       recclass|mass_grams| fall|year|           reclat|           reclong|         geolocation|            geometry|elevation|      country|state_abbrev|
+-----+---------------+---------------+----------+-----+----+-----------------+------------------+--------------------+--------------------+---------+-------------+------------+
| 2276|        Allegan|             H5|   32000.0| Fell|1899|         42.53333|         -85.88333|(42.53333, -85.88...|POINT (-85.88333 ...|    225.0|United States|          MI|
| 5401|        Coleman|             L6|     469.0| Fell|1994|         43.76111|-84.50778000000003|(43.76111, -84.50...|POINT (-84.50778 ...|    218.0|United States|          MI|
|22766|      Rose City|             H5|   10600.0| Fell|1921|         44.51667|            -83.95|  (44.51667, -83.95)|POINT (-83.95 44....|    387.0|United States|          MI|
|24337|         Worden|             L5|    1551.0| Fell|1997|         42.38467|          -83.6115|(42.38467, -83.6115)|POINT (-83.6115 4...|    279.0|United States|          MI|
|10955|   Grand Rapids|Iron, ungrouped|   51700.0|Found|1883|         42.96667|-85.76666999999998|(42.96667, -85.76...|POINT (-85.76667 ...|    225.0|United States|          MI|
|12048|     Iron River|      Iron, IVA|    1420.0|Found|1889|46.07944000000001|         -88.55972|(46.07944, -88.55...|POINT (-88.55972 ...|    510.0|United States|          MI|
|12234|       Kalkaska|    Iron, IIIAB|    9399.0|Found|1947|         44.64694|         -85.13667|(44.64694, -85.13...|POINT (-85.13667 ...|    355.0|United States|          MI|
|22552|      Reed City|Iron, ungrouped|   20000.0|Found|1895|         43.86667|-85.51666999999998|(43.86667, -85.51...|POINT (-85.51667 ...|    329.0|United States|          MI|
|23499|Seneca Township|      Iron, IVA|   11500.0|Found|1923|         41.78333|         -84.18333|(41.78333, -84.18...|POINT (-84.18333 ...|    243.0|United States|          MI|
| 2295|        Andover|             L6|    3200.0| Fell|1898|         44.61667|            -70.75|  (44.61667, -70.75)|POINT (-70.75 44....|    220.0|United States|          ME|
| 5293|        Castine|             L6|      94.0| Fell|1848|         44.38333|            -68.75|  (44.38333, -68.75)|POINT (-68.75 44....|     25.0|United States|          ME|
|16984|   Nobleborough|  Eucrite-pmict|    2300.0| Fell|1823|         44.08333|-69.48333000000001|(44.08333, -69.48...|POINT (-69.48333 ...|     44.0|United States|          ME|
|23472|      Searsmont|             H5|    5400.0| Fell|1871|         44.36667|             -69.2|   (44.36667, -69.2)|POINT (-69.2 44.3...|     76.0|United States|          ME|
|24209|    Walnut Hill|             OC|     220.0|Found|1978|           43.827|         -70.24717| (43.827, -70.24717)|POINT (-70.24717 ...|     68.0|United States|          ME|
| 2329|         Archie|             H6|    5070.0| Fell|1932|             38.5|             -94.3|       (38.5, -94.3)|  POINT (-94.3 38.5)|    264.0|United States|          MO|
| 4977|         Baxter|             L6|     611.0| Fell|1916|            36.75|             -93.5|      (36.75, -93.5)| POINT (-93.5 36.75)|    294.0|United States|          MO|
| 5260| Cape Girardeau|             H6|    2300.0| Fell|1846|         37.26667|         -89.58333|(37.26667, -89.58...|POINT (-89.58333 ...|    123.0|United States|          MO|
|12028|   Independence|             L6|     880.0| Fell|1917|         39.08333|             -94.4|   (39.08333, -94.4)|POINT (-94.4 39.0...|    292.0|United States|          MO|
|14664|   Little Piney|             L5|     491.0| Fell|1839|         37.91667|         -92.08333|(37.91667, -92.08...|POINT (-92.08333 ...|    281.0|United States|          MO|
|18079|        Palmyra|             L3|     135.0| Fell|1926|             39.8|             -91.5|       (39.8, -91.5)|  POINT (-91.5 39.8)|    179.0|United States|          MO|
+-----+---------------+---------------+----------+-----+----+-----------------+------------------+--------------------+--------------------+---------+-------------+------------+
only showing top 20 rows

In [6]:
# url="https://<bucket name>.s3.amazonaws.com/user_payment.csv"
url = 'https://meteorite-ml-project.s3.amazonaws.com/meteorite_types.csv'
spark.sparkContext.addFile(url)
meteoritetypes_df = spark.read.csv(SparkFiles.get("meteorite_types.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
meteoritetypes_df.show()

+--------------------+------------------------+---------------+--------------+
|            recclass|meteorite_class_subclass|meteorite_class|meteorite_type|
+--------------------+------------------------+---------------+--------------+
|                  H5|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|                  L6|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|                  L5|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|     Iron, ungrouped|            Iron - other|           Iron|          Iron|
|           Iron, IVA|         Iron - magmatic|           Iron|          Iron|
|         Iron, IIIAB|         Iron - magmatic|           Iron|          Iron|
|       Eucrite-pmict|             Achrondrite|    Achrondrite|    Chrondrite|
|                  OC|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|                  H6|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|                  L3|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|               CO3.7|    Chrondrite - carb...|     Chrondrite|    Chrondrite|
|   Pallasite, PMG-an|               Pallasite|      Pallasite|    Stony-iron|
|                   H|    Chrondrite - ordi...|     Chrondrite|    Chrondrite|
|        Iron, IAB-MG|        Iron - primitive|           Iron|          Iron|
|Pallasite, ungrouped|               Pallasite|      Pallasite|    Stony-iron|
|     Mesosiderite-B4|            Mesosiderite|   Mesosiderite|    Stony-iron|
|           Iron, IIC|         Iron - magmatic|           Iron|          Iron|
|            Iron, IC|         Iron - magmatic|           Iron|          Iron|
|          Iron, IIIF|         Iron - magmatic|           Iron|          Iron|
|              C2-ung|    Chrondrite - carb...|     Chrondrite|    Chrondrite|
+--------------------+------------------------+---------------+--------------+
only showing top 20 rows

In [7]:
# url="https://<bucket name>.s3.amazonaws.com/user_payment.csv"
url = 'https://meteorite-ml-project.s3.amazonaws.com/state.csv'
spark.sparkContext.addFile(url)
state_df = spark.read.csv(SparkFiles.get("state.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
state_df.show()

+------------+--------------------+----+---------+-------------+
|state_abbrev|               state|FIPS|area_sqkm|      country|
+------------+--------------------+----+---------+-------------+
|          AL|             Alabama|   1|   135767|United States|
|          AK|              Alaska|   2|  1723337|United States|
|          AZ|             Arizona|   4|   295234|United States|
|          AR|            Arkansas|   5|   137732|United States|
|          CA|          California|   6|   423967|United States|
|          CO|            Colorado|   8|   269601|United States|
|          CT|         Connecticut|   9|    14357|United States|
|          DE|            Delaware|  10|     6446|United States|
|          DC|District of Columbia|  11|      177|United States|
|          FL|             Florida|  12|   170312|United States|
|          GA|             Georgia|  13|   153910|United States|
|          HI|              Hawaii|  15|    28313|United States|
|          ID|               Idaho|  16|   216443|United States|
|          IL|            Illinois|  17|   149995|United States|
|          IN|             Indiana|  18|    94326|United States|
|          IA|                Iowa|  19|   145746|United States|
|          KS|              Kansas|  20|   213100|United States|
|          KY|            Kentucky|  21|   104656|United States|
|          LA|           Louisiana|  22|   135659|United States|
|          ME|               Maine|  23|    91633|United States|
+------------+--------------------+----+---------+-------------+
only showing top 20 rows

Postgres Setup

In [8]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://meteorite-ml-db.cl3jquwwq7kn.us-east-1.rds.amazonaws.com:5432/meteorite_ml_db"
config = {"user":"postgres", 
          "password": "XXXXXXXXXX", 
          "driver":"org.postgresql.Driver"}

In [9]:
# Write DataFrame to landcover table in RDS

landcover_df.write.jdbc(url=jdbc_url, table='landcover', mode=mode, properties=config)

In [10]:
# Write dataframe to meteorite_main table in RDS

meteoritemain_df.write.jdbc(url=jdbc_url, table='meteorite_main', mode=mode, properties=config)

In [11]:
# Write dataframe to meteorite_type table in RDS

meteoritetypes_df.write.jdbc(url=jdbc_url, table='meteorite_type', mode=mode, properties=config)

In [12]:
# Write dataframe to state table in RDS

state_df.write.jdbc(url=jdbc_url, table='state', mode=mode, properties=config)